<!doctype html>
<html lang="en" ng-app='fawkesApp'>
<head>
<meta charset="utf-8">
<title>Angular E-Commerce Web</title>
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/animations.css">

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
</head>
<body ng-controller="DashboardController as dashboard">

	<p>Hello World! This is plain old html!</p>

	<p>{{"Hello," + "World!"}}</p>

	<p>1+2 = {{1+2}}</p>

	<section class="tab" ng-controller="TabController as panel">
		<ul class="nav nav-pills">
			<li ng-class="{active:panel.isSet(1)}">
				<a href ng-click="panel.setTab(1)">My Companies</a>
			</li>
			<li ng-class="{active:panel.isSet(2)}">
				<a href ng-click="panel.setTab(2)">Other Companies</a>
			</li>
		</ul>
		<div ng-show="panel.isSet(1)">
			<h4>Reports on My Companies</h4>
			<div class="product" ng-repeat='product in dashboard.myCompanyProducts'>
				<p><b>Company Name:</b>{{product.companyName}} </p>
				<p><b>Product Name:</b> {{product.productName}} </p>
				<p><b>Duns:</b> {{product.duns}} </p>
				<p><b>Added On :</b> {{product.addedOn}} </p>
				<hr/>
			</div>
		</div>
		<div ng-show="panel.isSet(2)">
			<h4>Reports on Other Companies</h4>
			<blockquote>No Reports on other companies yet!</blockquote>
		</div>
	</section>

</body>
</html>
